/*Eamon Sheehy*/
*, *:before, *:after {
    box-sizing: border-box;
}

/*Based on examples from W3 Schools https://www.w3schools.com/css/css_rwd_intro.asp */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Based on examples from W3 Schools https://www.w3schools.com/css/css_rwd_intro.asp */
[class*="col-"] {
    float: left;
    padding: 15px;
	width: 100%;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background-color: rgb(27,51,137);
    color: rgb(255,255,255);
    padding: 15px;
	border-radius: 25px;
}

.button {
	text-align: center;
	color: rgb(255,255,255);
	padding: 8px;
	margin-bottom: 8px;
	background-color: rgb(50,105,255);
	border-radius: 25px;
}

.space {
    margin-top: 40px;
    margin-bottom: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
}
nav li {
	text-align: center;
	color: rgb(255,255,255);
	padding: 8px;
	margin-bottom: 8px;
	background-color: rgb(0,82,204);
	border-radius: 25px;
}
nav li:hover {
	background-color: rgb(0,61,153);
}

a {
	text-decoration: none;	
}

a:visited {
	text-decoration: none;	
}

.img { 
	display:block;
}  

ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}

li {
	padding: 20px;
	margin-bottom: 20px;
	list-style-type: none;
}

a:unvisited {
	text-decoration: none;	
}
/*Based on examples from W3 Schools https://www.w3schools.com/css/css_rwd_intro.asp */
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 20%;}
    .col-m-2 {width: 80%;}
}
/*Based on examples from W3 Schools https://www.w3schools.com/css/css_rwd_intro.asp */
@media only screen and (min-width: 768px) {
    .col-1 {width: 20%;}
    .col-2 {width: 80%;}
}